// ******************* VARIABLES ******************

// Colors

$indigo: #0C3A4C;
$aquamarine: #65A8AB;
$white: #fffdfd;
$overlay: #e7eef0;
$BG: #FFFBF9;

// Font families

$inter: 'Inter', sans-serif;
$afacad: 'Afacad', sans-serif;
