.table-template {
  border-collapse: collapse;
  width: 100rem;
  margin: 1rem 0 6rem;
}
.table-template th {
  color: #fffdfd;
  background-color: #0C3A4C;
  font-weight: 500;
}
.table-template td {
  font-size: 2.2rem;
  vertical-align: center;
}
.table-template tr:nth-child(even) {
  background-color: #e7eef0;
}
.table-template td,
.table-template th {
  padding: 1.2rem;
  text-align: center;
}

.primary-button {
  font-family: "Inter", sans-serif;
  border-radius: 2rem;
  border: none;
  padding: 1rem 6rem;
  background-color: #0C3A4C;
  color: #fffdfd;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.primary-button:hover {
  background-color: #65A8AB;
  color: #0C3A4C;
  border: none;
}

.secondary-button {
  font-family: "Inter", sans-serif;
  border-radius: 2rem;
  padding: 1rem 6rem;
  background-color: transparent;
  border: 0.1rem solid #0C3A4C;
  color: #0C3A4C;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.secondary-button:hover {
  background-color: #0C3A4C;
  color: #fffdfd;
  border: 0.1rem solid #0C3A4C;
}

form {
  width: 40rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
form div {
  width: inherit;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type=text], input[type=number], input[type=date], select {
  border: 0.1rem solid #65A8AB;
  width: inherit;
  padding: 1rem;
  border-radius: 2rem;
  height: 4rem;
}

input[type=submit] {
  margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

.primary-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 8rem;
}

.secondary-title {
  font-family: "Afacad", sans-serif;
  font-weight: 600;
  font-size: 4.8rem;
}

.third-title {
  font-family: "Afacad", sans-serif;
  color: #65A8AB;
  font-weight: 600;
  font-size: 3.6rem;
}

.menu li a {
  font-family: "Inter", sans-serif;
  color: #0C3A4C;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 900;
  font-size: 1.3rem;
  transition: all 0.2s linear;
}
.menu li a:hover {
  color: #65A8AB;
}

th {
  font-family: "Afacad", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

p, td, label {
  font-family: "Afacad", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}

html {
  color: #0C3A4C;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #FFFBF9;
  min-height: 100vh;
  position: relative;
}

header {
  padding: 5rem 5rem 0;
}

main {
  padding: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.bolder {
  font-weight: 800;
}

header, .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  gap: 2.5rem;
}

.header__logo {
  height: 7rem;
}
.header__logo img {
  height: inherit;
}

.hero {
  height: 20rem;
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.students-list, .professors-list, .subjects-list, .grades-list {
  overflow-x: auto;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0C3A4C;
}
footer p {
  color: #fffdfd;
  font-size: 2rem;
}/*# sourceMappingURL=main.css.map */