// ************** IMPORT STYLES **************

@use '../abstracts' as *;


// ****************** GLOBALS ****************

html {
    color: $indigo;
    font-family: $inter;
}

body {
    background-color: $BG;
    min-height: 100vh;
    position: relative;
}

header {
    padding: 3rem 3rem 0;
}

main {
    padding: 3rem;
    @include flex-preset(column, center, center);
}

// ----- TEXT MODIFICATIONS -----

.uppercase {
    text-transform: uppercase;
}

.bolder {
    font-weight: 800;
}